.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.welcome-text {
    padding-top: 20px;
    color: black;
    margin-top: 100px; 
    margin-bottom: 50px;
}