.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.welcome-text {
    padding-top: 20px;
    color: aliceblue;
    margin-top: 100px; 
    margin-bottom: 50px;
}

h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
}

