h1 {
    color: aliceblue;
}

p{
    color: black;
}

.equal-sign {
    font-size: inherit;
    font-weight: inherit;
}

.navbar-blue {
    background-color: #6ba8e4;
    color: white;
}

.navbar-blue .nav-link {
    color: white;
}

.navbar-blue .nav-link:hover {
    color: lightblue;
}

.navbar-blue .navbar-toggler {
    border-color: white;
}

.navbar-blue .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-brand img {
    margin-right: 10px; 
}

.navbar-brand h3 {
    margin: 0;
    color: white; 
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

.titleNaam{
    margin: 0;
    padding: 0;
    white-space: normal; /* Zorg ervoor dat de tekst kan ombreken */
    word-wrap: break-word; /* Laat lange woorden afbreken indien nodig */
}

ul {
    font-family: "Chivo Mono", monospace;
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}